@charset "utf-8";

:root {
     --search-width: 540px;
    --search-height: 40px;

    --color-border: #000000;
    --color-white: #ffffff;   
    --color-text: #333333;    

    --spacing-md: 20px;         
    --spacing-xs: 10px;        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-text); 
    line-height: 1.5;
}

.layout-sheet {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-height: 1908px;
    margin: 0 auto;
    background-color: var(--color-white); 
}

/* 상단 배너 */
.top-banner {
    width: 100%;
    height: 670px;
    background-image: url('../img/ancient-top-banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* 검색창 스타일 */
.search-container {
    position: relative;
    width: 100%;
    max-width: var(--search-width); 
    height: var(--search-height);
    margin: 0 auto; 
    top: 80px;
}

.search-input {
    width: 100%;
    height: 100%;
    background-color: var(--color-white); 
    border-radius: 100px;
    outline: none;
    padding: 0 50px 0 var(--spacing-md); 
    font-size: clamp(14px, 1.5vw, 15px); 
    color: var(--color-text);
    border: 1px solid var(--color-border);
}

.search-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    padding: var(--spacing-xs); 
}

.banner-text-group {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -50px; 
}

.category-badge {
    position: absolute;
    top: -60px;
    left: -60px;
    width: 60px;
    height: 60px;
    background-color: #C08A4B;
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 10px;         
    color: #FFFFFF;          
    line-height: 1.5;
}

.banner-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.2;
    color: #050505;
    letter-spacing: 0em;
    margin-bottom: 10px; 
}

.banner-desc {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
    text-align: left;
}

.info-box {
    width: 1088px;
    height: 222px;
    margin: 200px auto 0;
}

.box-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500; 
    font-size: 40px;  
    color: #000000;
    line-height: 1.5;
    margin: 0;        
    text-align: left;
}

/* 하단 선 */
.box-title::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    background-color: #C08A4B;
    margin-top: 5px;
}

.era-list {
    display: flex;      
    list-style: none;    
    margin-top: 30px;   
    gap: 100px;          
}

.era-list li {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;    
    font-size: 25px;     
    color: #000000;
    line-height: 1.5;
    cursor: pointer;     
}

/* 각 시대 밑줄 스타일 */
.era-list li::after {
    content: "";
    display: block;     
    
    width: 180px;        
    height: 1px;        
    background-color: #000000; 
    
    margin-top: 5px;    
}
