@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.top-banner{
    width: 100%;
    height: 200px;
    background-image: url('../img/paleolithic-top-banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner-box {
    width: 540px;
    height: 98px; 
    position: relative; 
    margin-top: 78px;
    margin-bottom: 30px;
    background-color: transparent;
}

.title-badge {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    top: 8px;
    left: 123px;
    background-color: #C28F58;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;   
    font-size: 6px;     
    line-height: 1.5;  
    letter-spacing: 0; 
    color: #FFFFFF;    
}


.banner-title {
    margin-left: 158px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    color: #050505;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap; 
}

.search-container {
    width: 540px;
    height: 40px;
    box-sizing: border-box; 
    display: flex;
    align-items: center; 
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 100px;
    overflow: hidden; 
}

.search-input {
    flex: 1; 
    border: none;
    outline: none;
    padding-left: 20px; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    background: transparent;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    padding-right: 37px; 
    padding-left: 10px; 
    display: flex;
    align-items: center;
}

.divider-wrapper {
    width: 1120px;
    height: 36px;
    margin: 67px auto 0; 
    position: relative; 
}

.divider-line {
    width: 100%;
    height: 1px;
    background-color: #050505;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box-container {
    position: absolute;
    bottom: 0;
    left: 16px; 
    display: flex;
    gap: 16px; 
    z-index: 1;
}

.sort-box {
    width: 122px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    border: 1px solid #000; 
    box-sizing: border-box; 
}

.sort-box.active {
    background-color: #E0DFDF;
}

.content-box {
    width: 1088px;
    height: auto;
    margin: 38px auto 0;
}

.deco-bar {
    width: 5px;
    height: 36px;
    background-color: #C08A4B;
    border-radius: 50px;
    margin-right: 11px;
}

.content-title-row {
    display: flex;
    align-items: center; 
    margin-left: 22px;
    margin-bottom: 5px;
    margin-top: 44px;
}

.content-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 20px; 
    color: #000; 
    margin: 0; 
}

.sub-divider {
    width: 100%; 
    height: 1px;
    background-color: #000000;
    margin: 0; 
}

.content-box .content-title-row:first-child {
    margin-top: 0;
}
