@charset "utf-8";

:root {
     --search-width: 540px;
    --search-height: 40px;

    --color-border: #000000;
    --color-white: #ffffff;   
    --color-text: #333333;    

    --spacing-md: 20px;         
    --spacing-xs: 10px;      
    
    .circle-1 { background-color: #C08A4B; }
    .circle-2 { background-color: #2FAE9D; }
    .circle-3 { background-color: #FFD54F; }
    .circle-4 { background-color: #C2185B; }
    .circle-5 { background-color: #1E88E5; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-text); 
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.layout-sheet {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--color-white); 
}

/* 상단 배너 */
.top-banner {
    width: 100%;
    height: 670px;
    background-image: url('../img/husamguk-top-banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* 검색창 스타일 */
.search-container {
    position: relative;
    width: 100%;
    max-width: var(--search-width); 
    height: var(--search-height);
    margin: 0 auto; 
    top: 80px;
}

.search-input {
    width: 100%;
    height: 100%;
    background-color: var(--color-white); 
    border-radius: 100px;
    outline: none;
    padding: 0 50px 0 var(--spacing-md); 
    font-size: clamp(14px, 1.5vw, 15px); 
    color: var(--color-text);
    border: 1px solid var(--color-border);
}

.search-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    padding: var(--spacing-xs); 
}

.banner-text-group {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -50px; 
}

.category-badge {
    position: absolute;
    top: -60px;
    left: -60px;
    width: 60px;
    height: 60px;
    background-color: #6E6BD6;
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 10px;         
    color: #FFFFFF;          
    line-height: 1.5;
}

.banner-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.2;
    color: #050505;
    letter-spacing: 0em;
    margin-bottom: 10px; 
}

.banner-desc {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
    text-align: left;
}

.info-box {
    width: 1088px;
    height: 222px;
    margin: 100px auto 0;
}

.box-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500; 
    font-size: 30px;  
    color: #000000;
    line-height: 1.5;
    margin: 0;        
    text-align: left;
}

/* 하단 선 */
.box-title::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    background-color: #6E6BD6;
    margin-top: 5px;
}

.era-list {
    display: flex;     
    flex-wrap: wrap; 
    list-style: none;    
    margin-top: 30px;   
    gap: 30px 100px;      
}

.era-list li {
    width: calc((100% - (100px * 3)) / 4);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;    
    font-size: 20px;     
    color: #000000;
    line-height: 1.5;
    cursor: pointer;    
    
}

/* 각 시대 밑줄 스타일 */
.era-list li::after {
    content: "";
    display: block;     
    width: 180px;        
    height: 1px;        
    background-color: #000000; 
    margin-top: 5px;    
}

.hanja {    
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    display: block;
}

.bottom-box {
    width: 100vw;            
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 240px;
    background-color: #6E6BD6;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    gap: 30px;
}

.inner-item {
    width: 240px;
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 5px;
    flex-shrink: 0;
}

.item-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item-text {
    width: 182px;            
    height: 30px;            
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;         
    font-size: 18px;          
    line-height: 1.5;         
    color: #000000;
    text-align: center;
    white-space: nowrap;
}

.inner-item {
    width: 240px;            
    height: 130px;          
    background-color: #FFFFFF; 
    border-radius: 5px;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
}
